.site-info {
	background: $primary;
	.copyright {
		padding: 10px 0px;
		color: $white;
		text-align: center;
		p {
			margin-bottom:0px;
			a {
				color: rgba($white,0.9);
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}