.site-footer .footer-widgets {
	margin-top: 0;
}
	
.site-footer {
	background: $secondary;
	@include font-size(1.4);
	color: rgba($white,0.7);
	.footer-widgets {
		.one-third.column aside {
    		margin: 0 2.7em 3.5em 0;
    	}
    	.one-third.column {
    		&:last-child {
    			aside {
    				margin-right:0px;
    			}
    		}
    	}
    	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    		background-color: transparent;
    		color: rgba($white,0.7);
    	}
    	button, input[type="button"], input[type="reset"], input[type="submit"] {
    		color: $white;
    		font-weight: 500;
    	}
	}
	.footer-widgets {
		padding: 100px 0 50px;
		h4.widget-title {
			color: $white; 
			margin-bottom: 15px;
		}

		ul li {
			padding:5px 0px 5px 0;
			list-style:none;
			position:relative;
			@include transition-default(all, 0.5s, ease);
			i,.fa {
				padding-right:5px;
			}
			&:hover {
				background-position:10px 12px;
			}
			ul li {
				padding:5px 5px 5px 15px;
			}
		}

		ul.children,
		.widget_nav_menu ul.sub-menu {
			border-color: rgba($white, 0.2);
		}
		.calendar_wrap {
			td,th {
				color: $white;
			}
			a {
				color: $primary;
				&:hover {
					color: $white;
				}
			}
			tbody tr:nth-child(odd) {
				th {
					background-color:$secondary;
					color:$white;
				}
				td {
					background-color:$secondary;
					color:$white;	
				}
			}
			tbody tr:nth-child(even) {
			th,td{
					background-color:$secondary;
					color:$white;
				}
			}
		}
		.widget_calendar table caption {
			background: $primary;
		}

		select {
			width: 100%;
			background: $white url('images/down.png') no-repeat 95% 50% white;
			-moz-appearance: none;
			border: 1px solid $c1;
			padding: 5px 10% 5px 3%;

		}
		.widget_search .search-form input[type="search"] {
			color: $white;
		}

		a {
			color: rgba($white,0.7);
			&:hover{
				color: $primary;
			}
		}

		p {
			margin-bottom: 0;
		}
		.widget_nav_menu {
			ul {
				clear:both;
			}
			li{
				border-bottom: none;
				ul.sub-menu {
					border-top: none;
					margin-left:12px;
					li {
						float:none;
					}
				}
				
			}
		}
		.widget_tag_cloud a:hover {
			color: $white;
		}
		.widget_tag_cloud a{
			color: $white;
		}

		

		.widget_rss ul li {
			background: none;
		}

	}
	.scroll-to-top {
		background: $primary;
		color: $white;
		bottom: 10%;
		cursor: pointer;
		//display: none;
		position: fixed;
		right: 20px;
		z-index: 999;
		text-align: center;
		line-height: 40px;
		width: 40px;
		@include border-radius(4px);
		-webkit-transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
	}
	.scroll-to-top:hover {
		background: rgba($primary, 0.8);
	}
}




@import "bottom-footer";